<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>submit json with CSRF header</title>
<meta name="_csrf_parameter" th:content="${_csrf.parameterName}"
	th:if="${_csrf}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}"
	th:if="${_csrf}" />
<meta name="_csrf" th:content="${_csrf.token}" th:if="${_csrf}" />
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script>
	$(function() {
		var csrfParameter = $("meta[name='_csrf_parameter']").attr("content");
		var csrfHeader = $("meta[name='_csrf_header']").attr("content");
		var csrfToken = $("meta[name='_csrf']").attr("content");
		alert('to submit {name:Daniel} as String');
		$.ajax({
			beforeSend : function(xhr) {
				if (csrfHeader)
					xhr.setRequestHeader(csrfHeader, csrfToken);
			},
			url : "sixth.json",
			type : "POST",
			data : {
				'data' : JSON.stringify({
					'name' : "Daniel"
				})
			},
			success : function(data, textStatus, jqXHR) {
				alert(data.status);
			},
			error : function(jqXHR, textStatus, errorThrown) {
			}
		});
	});
</script>
</head>
<body>
</body>
</html>