<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="org.thymeleaf.spring4.resourceresolver" level="DEBUG" />
	<logger name="cn.com.taiji" level="DEBUG" />
	
    <root level="INFO">
	</root>
	
</configuration>